@font-face {
  font-family: "Bahnschrift";
  src: url("./assets/font/Bahnschrift-Font-Family/BAHNSCHRIFT.TTF")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Reset by Josh Comeau */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Login Form Page Style */

/* Element font styling  */

html {
  font-size: clamp(14px, calc(1rem + 0.5vw), 24px);
}

.background-section > p {
  font-size: clamp(0.75rem, calc(0.35rem + 0.3vw), 0.875rem);
  color: white;
}

.form-module > label {
  font-size: clamp(0.8rem, calc(0.40rem + 0.3vw), 1.2rem);
}

div,
p,
h2 {
  font-family: Bahnschrift, "DIN Alternate", sans-serif;
}

p,
h2 {
  font-weight: bold;
}

.login-account-section > p {
  font-weight: normal;
  font-size: clamp(0.875rem, calc(0.9rem + 0.25vw), 1.125rem);
}

.login-account-section > button {
  font-weight: normal;
  font-size: clamp(0.875rem, calc(0.9rem + 0.25vw), 1.125rem);
}

div {
  font-weight: normal;
}

input {
  font-size: clamp(0.8rem, calc(0.40rem + 0.3vw), 1.2rem);
}

/* Flexbox layout */

html { 
    height: 100%;
}

body {
    height: 100%;
}

.landing-page {
    display: flex;
    min-height: 100vh;
}

/* Background left section */

.background-section {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.background-section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-section > p {
    position: absolute;
    bottom: 0;
}

#odin-logo {
  position: absolute;
  top: 50%; /* Move the top edge to the vertical center */
  left: 50%; /* Move the left edge to the horizontal center */
  transform: translate(
    -50%,
    -50%
  ); /* Adjust position to truly center it based on its own size */
  /* Scaling the logo */
  width: 50%; /* Example: Logo takes 50% of the parent's width */
  max-width: 150px; /* Optional: Set a maximum width to prevent it from getting too big */
  height: auto; /* Maintain aspect ratio based on width */
}

/* Login right main section */

.login-main-section {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allows it to grow and shrink, taking remaining space */
    padding: 20px 0;
    /* This is crucial for scrollability if its content overflows */
    overflow-y: auto;
    /* If you want a background color to span the full height */
    background-color: #f7f7f7;
}

.login-info-section,
.login-account-section {
    margin: 20px 40px;
    padding: 10px;
}

.login-form-section {
  background-color: white;
  padding: 20px 50px;
  box-shadow: 
        0 -3px 10px -5px rgba(0, 0, 0, 0.2), /* Top shadow */
        0 8px 10px -5px rgba(0, 0, 0, 0.2);   /* Bottom shadow */
}

/* Flexbox Form Layout */

.login-form-section {
  display: flex;
}

/* Form Styling */

.form-card {
  display: flex;
  flex-direction: column;
}

.form-1,
.form-2,
.form-3 {
  flex: 1;
  display: flex;
  min-width: 620px;
}

.form-module {
  margin: 0 10px 20px 0;
}

label {
  display: block;
  min-width: 132.5px;
}

input {
  max-width: 300px;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
}

input:invalid {
  border-color: red;
}

.input-box:focus {
  border-color: #91a8ae;
  box-shadow: 
        0 -3px 10px -5px #91a8ae, /* Top shadow */
        0 3px 10px -5px #91a8ae;   /* Bottom shadow */
}

.input-box:focus-visible {
  outline: none;
}

/* Submit Button and Log in anchor tag styling */

button {
  background-color: #91a8ae; 
  border-style: none;
  border-radius: 10px;
  color: white;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.5rem 0.9rem;
  margin: 0.25rem 0.25rem 1rem 0;
  cursor: pointer;
}

button:hover {
  background-color: #d08b50;
  text-decoration: none;
}

button:active {
  background-color: #d08b50;
  text-decoration: none;
}

.login-link:link {
  color: #91a8ae;
  text-decoration: none;
}

.login-link:visited {
  color: #91a8ae;
  text-decoration: none;
}

.login-link:hover {
  color: #d08b50;
  text-decoration: none;
}

.login-link:active {
  color: #d08b50;
  text-decoration: none;
}

/*

 - CSS Variables
 - Form improving
 - 'responsive' units for layout

*/







